<div class="content">
    <header class="pageHeader">
        <h4 class="not-found"><i class="fa fa-exclamation-circle fa-lg page-caption icon" aria-hidden="true"></i>{{'notFound.notFound' | translate}}</h4>
    </header>

    <div class="vertical-center-flex">
        <div class="center-block">
            <div class="text-muted error-description">{{'notFound.pageNotExist' | translate}}</div>
            <div class="btn btn-primary back-home" routerLink="/area"><i class='fa fa-home back-icon'></i>{{'notFound.home' | translate}}</div>
        </div>
    </div>
</div>